

# dependencies
.gitignore
.pnp
.pnp.js

# testing
pathfinding_frontend/coverage

# production
pathfinding_frontend/build

# learning
pathfinding_frontend/src/learning_component

# misc
.vscode
node_modules

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/pathfinding_frontend/npm-debug.log*
/pathfinding_frontend/yarn-debug.log*
/pathfinding_frontend/yarn-error.log*


